/* CSS Document */
* { font-family:Arial, Helvetica, sans-serif
}
td {
	font-size: 12px; color: #000000; font-family:Arial, Helvetica, sans-serif
}
body {
    font-size: 12px; font-family:Arial, Helvetica, sans-serif
}
.button {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif; width:100px;
}
.button3 {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif; width:130px;
}
.table {
	border: #1651ab 1px solid; list-style-position: inside; font-size: 12px; width-space: normal; list-style-type: circle
}
.title {
	font-weight:bold; font-size:14px;
}
.title2 {
	font-weight:bold;
}
.thead {
	width:200px;
}
.thead2 {
	width:220px;
}
.tcenter {
	background-color:#f2f2f2; height:25px; font-weight:bold;
}

#wps_progress_bar {
	width:250px; height:15; margin:0 auto; border:1px solid gray;
}

#loading {
   	width:300px; height:120px; background-color:#333333; color:#ffffff; position:absolute; left:50%; top:50%; margin-top:-150px; margin-left:-250px; text-align:center; font-family:Arial, Helvetica, sans-serif; padding-top:20px;
}

h2 {
	font-weight:bold; font-size:14px;
}

mainbody { 
	margin:20px;
}

blockquote {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif
}
p {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif
}

table.list {
	border-collapse:collapse; width:100%
}
table.list td{
	border:1px solid #a4a4a4; height:27px; padding-left:10px;
}

table.list1 {
	border-collapse:collapse; width:100%;
}
table.list1 td{
	border-width:0px; height:27px;
}
legend {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000000;
}
